<nav class="navbar navbar-expand-sm bg-primary navbar-dark text-lg-start w-100">
    <div class="container-fluid">
           <img class="logo ourlogo" src="assets\img\newlogo.PNG">
           <a class="navbar-brand" href="#">ExploreMorezz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="hasLoggedIn() && isUser()">
            <a class="nav-link" routerLink="store">Home</a>
          </li>
          <li class="nav-item" *ngIf="!hasLoggedIn() && isUser()">
            <a class="nav-link" routerLink="viewAllCategory()">Course Categeories</a>
          </li>
          <li class="nav-item" *ngIf="!hasLoggedIn() && isUser()">
            <a class="nav-link" routerLink="viewCourse()">View All Courses</a>            
          </li>      
        </ul>

      </div>
      <div class="d-flex align-items-center">
        <ul class="navbar-nav">
          
        <li class="nav-item" *ngIf="!hasLoggedIn()" >
            <a class="nav-link" routerLink="login">Login</a>
         </li>
          <li class="nav-item" *ngIf="!hasLoggedIn()">
            <a class="nav-link" routerLink="registeruser">Sign up/Register</a>
          </li>
          <li>
            <label class="switch">
              <input type="checkbox" (click)="toggleTheme()">
              <span class="slider round"></span><br><br>
              
          </label>
          </li>
          <li class="nav-item" *ngIf="hasLoggedIn() && isUser()">    
            <a class="nav-link" routerLink="profile">My Profile</a>
          </li>

          <li class="nav-item" *ngIf="hasLoggedIn()">
            <a class="nav-link" routerLink="logout">Log Out</a>
          </li>
          <li class="nav-item" *ngIf="hasLoggedIn() && isUser()">
            <a class="nav-link" routerLink="orders">Order History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-3">
    <h3></h3>
    <p></p>

