<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="img" id="landingImg">
                <img class="rounded float-start" id="frontimg" src="assets\img\landingPage2-img.jpg" alt="alternative"
                    width="950" height="600">
            </div>
        </div>
        <div class="col-2">
            <h4 class="h1">ExploreMore</h4>
            <p>wants to learn more?</p>
            <p>Get Started with us.</p>
            <button type="button" class="btn btn-primary" (click)="addANewUser()">SignUp today</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <h2><u>Categories</u></h2>
        <div class="col-4" *ngFor="let cateogory of categories; let i=index">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{cateogory}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <h2 class="header" id='header'><u>List of Courses</u></h2>
        <div class="col-4" *ngFor="let course of allCourse; let i=index">
            <div *ngIf="i<6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{course.imageUrl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p>{{course.description}}</p>
                        <p> $ {{course.price}}</p>
                        <button *ngIf="user == 1" (click) = "deleteCourse(course.id)">Delete course</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <h2><u>List of categories</u></h2>
    </div>
    <div class="row align-items-start">
        <div class="col-4" *ngFor="let cateogory of categories; let i=index">
            <div *ngIf="i<6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets\img\comingsoon.png" alt="Card image cap">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-5 p-4 bg-dark text-white text-center">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <p class='title'>Contact Us</p>
            <p class="CompanyEmail">info@exploremore.com</p>
            <p class="CompanyPhone">p 123-456-7890</p>
            <p></p>
        </div>
    </div>
</div>