<div class="container">
  <form #myForm="ngForm">
    <div class="card m-3">
      <div class="card-header bg-primary">Order History Form</div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Order Id</th>
              <th>Order Time Stamp</th>
              <th>Order Total</th>
              <th>User Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempOrder of orders">
              <td>{{ tempOrder.orderId }}</td>
              <td>{{ tempOrder.orderTimestamp }}</td>
              <td>{{ tempOrder.orderTotal | currency: "USD" }}</td>
              <td>{{ tempOrder.userId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
