<div class="main-content">
  <div class="section-content section-content-p30">
    <div class ="container-fluid">
      <h3>Order History: </h3>
      <div class="container-fluid" *ngIf="orderHistoryList.length>0">
        <div  *ngFor="let orderHistory of orderHistoryList">
          <div class="d-flex justify-content-between">
            <h4>Purchased Items</h4>
            <h6>{{ orderHistory.order.orderTimestamp | date}}</h6>
          </div>
          <div *ngFor="let course of orderHistory.courses">
            <div class="d-flex justify-content-between">
              <h6 class="fs-5">
                {{ course.name }}
              </h6>
              <div>
                {{ course.price | currency}}
              </div>
            </div>
            <div>
              <p>{{ course.description}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-4">
            <p></p>
            <h6>Total: {{ orderHistory.order.orderTotal | currency }}</h6>
          </div>
        </div>
      </div>
      <!--if Order is Empty the display a message-->
      <div *ngIf="orderHistoryList.length==0" class = "alert alert-warning col-md-12" role="alert">
          No orders found!
      </div>

    </div>

  </div>
</div>
