<section class="vh-100" style="background-color: rgb(255, 255, 255);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="https://freesvg.org/img/abstract-user-flat-4.png"
                class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h3 class="mb-2">{{user.name}}</h3>
            <p class="text-muted mb-4">{{user.phoneNumber}}<span class="mx-2">|</span> <a
                href="#!">{{user.email}}</a></p>
                <button type="button" class="btn btn-primary"
                (click)="goToEditUser(user)">
                <i class="material-icons>edit">Edit Profile Information</i>
                </button><p></p><button type="button" class="btn btn-secondary btn-"
                (click)="goToOrderHistory()">
                <i class="material-icons>edit">View Order History</i>
                </button> 
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>                   
                 
                                

                  