<!--<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div *ngIf="shouldDisplay">
                <div class="container">
                    <form>
                        <div class="card m-3">
                            <div class="card-header bg-warning">Profile Information</div>
                            <div class="card-body">

                                <div *ngIf="storeMessage==''">
                                    <h2>View Profile</h2>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                <td>Email</td>
                                                <td>Phone Number</td>
                                                <td>Username</td>
                                                <td>Password</td>
                                                <td>Darkmode/LightMode</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of goToEditUser">
                                                <td>{{user.id}}</td>
                                                <td>{{user.Name}}</td>
                                                <td>{{user.Email}}</td>
                                                <td>{{user.PhoneNumber}}</td>
                                                <td>{{user.Username}}</td>
                                                <td>{{user.Password}}</td>
                                                <td>{{user.DarkmodeLightMode}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="goToEditUser(user.id)">
                                                        <i class="material-icons>edit">edit</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    -->