<div class="container registerform">
    <form #myForm="ngForm">
        <h1>---Welcome To ExploreMore!---</h1>
        <div class="card m-3">
            <div class="card-header bg-primary text-white">Registration Form</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="uName" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="uName" placeholder="Full Name"
                        name="urName" required [(ngModel)]="newUser.name" #name="ngModel">
                    <div *ngIf="!name.valid && name.touched" class="text-danger small">Name is required</div>
                </div>
                <div class="mb-3">
                    <label for="uEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="uEmail" placeholder="Email Address"
                        name="urEmail" [(ngModel)]="newUser.email" 
                        #email="ngModel" required>
                    <div *ngIf="!email.valid && email.touched" class="text-danger small">Email is required</div>
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Phone Number:</label>
                    <input type="text" class="form-control" id="contact" minlength= "11" maxlength="12"
                        placeholder="###-###-####" name="urContact" [(ngModel)]="newUser.phoneNumber"
                        #phoneNumber="ngModel" required>
                    <div *ngIf="!phoneNumber.valid && phoneNumber.touched" class="text-danger small">Contact number is
                        required</div>
                </div>
                <div class="mb-3">
                    <label for="userName" class="form-label">UserName:</label>
                    <input type="text" class="form-control" id="userName" placeholder="Create Username for Login"
                        name="usrName" [(ngModel)]="newUser.username" #username="ngModel" required>
                    <div *ngIf="!username.valid && username.touched" class="text-danger small">Username is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Create Password for Login" name="password" [(ngModel)]="newUser.password"
                        #password="ngModel" min="6" max="12" required
                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{8,}$/">
                    <div ng-messages="ngForm.password.$error">
                        <div ng-message="pattern" *ngIf="password.valid && password.touched" class="text-danger small">
                            Password should be at least 8 characters long
                            and should contain one number,one character and one special
                            character
                        </div>

                    </div>

                </div>
                <div class="card-footer bg-primary">
                    <button type="button" class="btn btn-primary mybtn" [disabled]="!myForm.valid"
                        (click)="addANewUser()">Register</button>
                </div>
            </div>

        </div>
    </form>
</div>