<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div>
                <div class="container">
                 <form #myForm="ngForm">
                  <div class="card mt-5">
                    <div class="card-header bg-light">
                        <h4>Add A Course</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="mb-3 mt-3">
                            <label for="cid" class="form-label">Course ID:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cid"  
                                name="Course Id"
                                [(ngModel)]="newCourse.id" disabled
                                >
                        </div>

                        <div class="mb-3">
                            <label for="cName" class="form-label">Course Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cName" 
                                placeholder="Enter Course Name" 
                                name="Course Name"
                                [(ngModel)]="newCourse.name"required
                                #cName = "ngModel">
                                <div *ngIf="!cName.valid && cName.touched" class="text-danger small">
                                    Course Name Required!
                                </div>
                        </div>

                        <div class="mb-3">
                            <label for="cDescription" class="form-label">Course Description:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cDescription" 
                                placeholder="Enter Course Description" 
                                name="Course Description"
                                [(ngModel)]="newCourse.description"required
                                #cDescription = "ngModel">
                                <div *ngIf="!cDescription.valid && cDescription.touched" class="text-danger small">
                                    Course Description Required!
                                </div>
                        </div>

                        <div class="mb-3">
                            <label for="cPrice" class="form-label">Course Price:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cPrice" 
                                placeholder="Enter Course Price" 
                                name="Course Price"
                                [(ngModel)]="newCourse.price"required
                                #cPrice = "ngModel">
                                <div *ngIf="!rmReason.valid && rmReason.touched" class="text-danger small">
                                    Reason Required!
                                </div>
                        </div>

                        <div class="mb-3">
                            <label for="cImage" class="form-label">Course Image Url:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cImage" 
                                placeholder="Enter Image URL" 
                                name="Course Image URL"
                                [(ngModel)]="newCourse.imageUrl"required
                                #cImage = "ngModel">
                                <div *ngIf="!cImage.valid && cImage.touched" class="text-danger small">
                                    Course Image Url Required!
                                </div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="catid" class="form-label">Category ID:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="catid"  
                                name="Category Id"
                                [(ngModel)]="newCategory.id" disabled
                                >
                        </div>

                        <div class="mb-3">
                            <label for="catName" class="form-label">Course Category Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="catName" 
                                placeholder="Enter Category Name" 
                                name="Category Name"
                                [(ngModel)]="newCategory.categoryName"required
                                #catName = "ngModel">
                                <div *ngIf="!catName.valid && catName.touched" class="text-danger small">
                                    Course Category Name Required!
                                </div>
                        </div>
                

                        <button type="button" class="btn btn-primary" (click)="submitInfo()">Submit Reimbursement</button>
                    </div>
                    <div class="card-footer bg-light">
                
                    </div>
                  </div>
                 </form>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>