/* You can add global styles to this file, and also import other style files */
.registerform{
    width: 600px;
    height: auto;
}
.card-footer{
    text-align: center;
}
.mybtn{
    border: 1px solid white;
    border-radius: 10px;
}
.ourlogo{
    width:40px;
    height:40px;
    border-radius: 50%;
}
body {
    transition: all .3s ease-in-out;
}
.dark-mode {
    background-color: black;
    color: white;
}
.dark-light {
    background-color: white;
    color: black;
}