/* You can add global styles to this file, and also import other style files */
.registerform{
    width: 600px;
    height: auto;
}
.card-footer{
    text-align: center;
}
.mybtn{
    border: 1px solid white;
    border-radius: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    margin: 0;
  }
  
  body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }
  
  body.dark-mode {
    background-color: #2f3542;
    color: #f1f2f6;
  }
  
  body.light-mode {
    background-color: #f1f2f6;
    color: #2f3542;
  }